
<%  @api = StockQuote::Stock.new(api_key: 'pk_d26d923c6b6e41648be7487d7f41b027') %>

<h1>Stocks</h1>
<br/>

<table table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th>Company</th>
      <th>Ticker</th>
      <th>Current Price</th>
      <th>Previous Close</th>
      <th>Market Cap</th>
      <th>52 Week High</th>
      <th>52 Week Low</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <% if stock.user_id == current_user.id %>

	     <% @ticker = StockQuote::Stock.quote(stock.ticker) %>
      
	      <% if !@ticker %>
	        <tr>
	          <td><%= link_to "Error", stock %></td>
	          <td><%= stock.ticker %></td>
	          <td>N/A</td>  
	          <td>N/A</td>
	          <td><center><%= link_to 'Edit', edit_stock_path(stock) %></center></td>
	          <td><center><%= link_to 'Delete', stock, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
	        </tr>

      <% else %>

        <tr>
          <td><%= link_to @ticker.company_name, stock %></td>  
    
          <td><%= @ticker.symbol %></td>

          <td>$<%= number_with_precision(@ticker.latest_price, :precision => 2, :delimiter => ',') %></td>

          <td>$<%= number_with_precision(@ticker.previous_close, :precision => 2, :delimiter => ',') %></td>
         
          <td>$<%= number_with_precision(@ticker.market_cap, :precision => 2, :delimiter => ',') %></td>

          <td>$<%= number_with_precision(@ticker.week52_high, :precision => 2, :delimiter => ',') %><br/>

          <td>$<%= number_with_precision(@ticker.week52_low, :precision => 2, :delimiter => ',') %><br/>

          <td><center><%= link_to 'Edit', edit_stock_path(stock), class: 'btn btn-light' %></center></td>

          <td><center><%= link_to 'Delete', stock, class: 'btn btn-light', method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
        </tr>
       <% end %> 

      <% end %> 
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path %>
